<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>


  <div class="field">   <!-- the idea is that this lets you set if it's a project or a simple post ( project default nil ) -->
    <%= label_tag(:default, "Project?") %><br>
    <%= check_box_tag(:default) %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
