<!--

<h1> THIS IS NEW </h1>

<hr />

<%= form_for @project do |f| %>  	COMMENT: make sure it's singular! this refers to the new method in controller!!!

	<p><%= check_box_tag(:default) %></p>
	<p><%= label_tag(:default, "Is this a project?") %></p>

	<p><%= f.label :title %>: <%= f.text_field :title %></p>

	<p><%= f.label :description %>: <%= f.text_area :description %></p>

	<p><%= f.submit "Add Project" %></p>

<% end %>


<p>	
	<%= link_to "Back", projects_path %>
</p>

-->



<h1> NEW PROJECT </h1>

<%= render 'form' %>

<p>
	<%= link_to 'Back', projects_path %>
</p>